<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form class="sign-in">
      <h3>Enter you login and password</h3>
      <input type="text" name="name" id="name" placeholder="name">
      <input type="text" name="password" id="password" placeholder="password">
      <input type="submit" value = "Send">
    </form>
    <div class="answ"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./javascripts/signin.js"></script>
  </body>
</html>
