<!DOCTYPE html>
<html lang="ua">
  <head>
    <title>Socket.io example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form class="send-data">
      <!-- <input type="text" name="message" id="message"> -->
      <input type="file" name="file" id="file">
      <br>
      <br>
      <input type="submit" value="Send message to server">
    </form>
    <script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./javascripts/main.js"></script>
  </body>
</html>
